<span *ngIf="showloader" class="loader">
    <img src="../app/asset/image/loading.gif"  style="padding-top:20%;" width="90">
</span>
<menu *ngIf="!showloader" ></menu>

<div class="ui-g" *ngIf="!showloader" style="margin-left:15%" >
    
    <div class="ui-grid-row">
        <div class="ui-g-12">
        <div class="ui-g-6">
            <h5 style="color:#f47920;font-weight: bold">INDIVIDUAL INCENTIVE LIST:</h5>
            <table style="border-collapse: collapse;width: 100%;">
                  <thead style="display: table-header-group;vertical-align: middle;border-color: inherit;">
                       <tr>
                         <th style="background-color: #dae8ef;color: #404c51;border: 1px solid #c1d5df;padding: 5px;font-size: 16px;">TARGET LOWER LIMIT</th>
                         <th style="background-color: #dae8ef;color: #404c51;border: 1px solid #c1d5df;padding: 5px;font-size: 16px;">TARGET HIGHERLIMIT</th> 
                         <th style="background-color: #dae8ef;color: #404c51;border: 1px solid #c1d5df;padding: 5px;font-size: 16px;">INCENTIVE INR</th>
                       </tr>  
                  </thead>
                  <tbody style="display: table-row-group;vertical-align: middle;border-color: inherit;">
                  <tr style="background-color: #f3f6f9;" *ngFor="let i of individualIncentiveList">
                      <td style="color: black;background-color:Gainsboro ;padding: 4px 10px;border: 1px solid #e5ebf0;font-size: 15px;opacity: .9;">{{i.targetLowerLimit}}</td>
                      <td style="color: black;background-color:Khaki ;padding: 4px 10px;border: 1px solid #e5ebf0;font-size: 15px;opacity: .9;">{{i.targetHigherLimit}}</td>
                      <td style="color: black;background-color:LightBlue ;padding: 4px 10px;border: 1px solid #e5ebf0;font-size: 15px;opacity: .9;">{{i.incentiveInInr}}</td>
                  </tr>
           </tbody>
             </table>      
        </div> 

        <div class="ui-g-6">
            <h5 style="color:#f47920;font-weight: bold">TEAM LEADER INCENTIVE LIST:</h5>
            <table style="border-collapse: collapse;width: 100%;">
                  <thead style="display: table-header-group;vertical-align: middle;border-color: inherit;">
                       <tr>
                         <th style="background-color: #dae8ef;color: #404c51;border: 1px solid #c1d5df;padding: 5px;font-size: 16px;">TARGET LOWER LIMIT</th>
                         <th style="background-color: #dae8ef;color: #404c51;border: 1px solid #c1d5df;padding: 5px;font-size: 16px;">TARGET HIGHERLIMIT</th> 
                         <th style="background-color: #dae8ef;color: #404c51;border: 1px solid #c1d5df;padding: 5px;font-size: 16px;">INCENTIVE INR</th> 
                       </tr>  
                  </thead>
                  <tbody style="display: table-row-group;vertical-align: middle;border-color: inherit;">
                  <tr style="background-color: #f3f6f9;" *ngFor="let ti of teamLeaderIncentiveList">
                      <td style="color: black;background-color:Gainsboro ;padding: 4px 10px;border: 1px solid #e5ebf0;font-size: 15px;opacity: .9;">{{ti.targetLowerLimit}}</td>
                      <td style="color: black;background-color:Khaki ;padding: 4px 10px;border: 1px solid #e5ebf0;font-size: 15px;opacity: .9;">{{ti.targetHigherLimit}}</td>
                      <td style="color: black;background-color:LightBlue ;padding: 4px 10px;border: 1px solid #e5ebf0;font-size: 15px;opacity: .9;">{{ti.incentiveInInr}}</td>
                  </tr>
           </tbody>
             </table>  
         </div>

       </div>
    </div>        
</div>