<span *ngIf="showloader" class="loader">
    <img src="../app/asset/image/loading.gif"  style="padding-top:20%;" width="90">
</span>
<menu *ngIf="!showloader" ></menu>

<div class="ui-g" *ngIf="!showloader" >
    <div class="ui-grid-row">
        <div class="ui-g-12">
             <p-dataTable [value]="candidateList"  [rows]="20" [paginator]="true" [rowsPerPageOptions]="[5,10,20]"  (onLazyLoad)="lazyLoadCandidate($event)" sortField="createdDate" sortOrder="-1" paginatorPosition="both"  scrollable="true"  scrollHeight="70vh" scrollWidth="100%" responsive="true"   selectionMode="single" 
               [(selection)]="selectedCandidate"   [contextMenu]="cm" dataKey="id"  #dt >
            
          
                <p-header>
                    <div style="display:inline-block"><b>Candidate List</b></div>
                </p-header>

                 

                <p-column field="candidateName" [sortable]="true" [filter]="true" header="Name"></p-column>
                <p-column field="socialMedia.email" [filter]="true" [sortable]="true" header="Email"></p-column>
                 
                 
                 <p-column [filter]="true" [style]="{'width':'10%'}" [sortable]="true">
                    <ng-template pTemplate="header">Mobile</ng-template>
                    <ng-template let-col let-childsq="rowData.phones" pTemplate="body" >
                        
                        <tr *ngFor="let wm of childsq">
                        <td *ngIf="wm.type === 'Work Mobile' ">{{wm.number}}</td>
                        
                        </tr>
                    </ng-template>
                </p-column>           
                                    
                <p-column field="enrollmentStstus" [style]="{'width':'12%'}" [filter]="true" [sortable]="true" header="Status"></p-column>

                <p-column field="nextFollowupDate" [style]="{'width':'10%'}" [filter]="true" [sortable]="true" header="NextFollowup" >

                <ng-template let-row="rowData" pTemplate="body">
                    {{row.nextFollowupDate | date}}
                </ng-template> 

                </p-column>
                
                <p-column field="createdBy.name" [filter]="true" [sortable]="true" header="Recruiter"></p-column>
                
            </p-dataTable>

            <p-contextMenu #cm   [model]="items"></p-contextMenu>
            
        </div>
        
 
    </div>

    <p-sidebar [(visible)]="candidateViewSidebar"  position="right" [style]="{'overflow':'scroll'}" styleClass="ui-sidebar-lg" >
      
       <span *ngIf="viewDetailsLoader" class="loader">
            <img src="../app/asset/image/loading.gif"  style="padding-top:20%;" width="90">
        </span>

      <h5 style="color:#f47920;font-weight: bold"  *ngIf="!viewDetailsLoader">PERSONAL INFORMATION :</h5>
      <table class="tableStyle" *ngIf="!viewDetailsLoader">
         <tbody class="tbodyStyle">

                 <tr class="trStyle">
                      <td class="tdLabelStyle" >NAME</td>
                      <td colspan="3" class ="tdValueStyle" style="border-top-color:#e5ebf0">{{candidate.candidateName}}</td>
                 </tr>

                 <tr class="trStyle">
                      <td class="tdLabelStyle">PHONE</td>
                      <td colspan="3" class ="tdValueStyle"><span *ngFor="let ph of candidate.phones">{{ph.type}} : {{ph.number}} <span style="color:#f47920;font-weight: bold">|</span> </span></td>
                 </tr>

                  <tr class="trStyle">
                      <td class="tdLabelStyle">EMAIL</td>
                      <td colspan="3" class ="tdValueStyle">WORK : {{candidate.socialMedia.email}} <span style="color:#f47920;font-weight: bold">| </span>ALT : {{candidate.socialMedia.alternateEmail}}</td>
                 </tr>

                  <tr class="trStyle">
                      <td class="tdLabelStyle">SKILL</td>
                      <td colspan="3" class ="tdValueStyle"><span *ngFor="let canCourse of candidate.candidateCourses">{{canCourse.course}} <span style="color:#f47920;font-weight: bold">|</span> </span>
                        <span *ngIf="candidate.candidateCourses?.length == 0">N/A  </span>
                      </td>
                 </tr>

                 <tr class="trStyle">
                     <td class="tdLabelStyle">COURSE FEE</td>
                     <td class ="tdValueStyle">
                         {{candidate.courseFee}}
                        <span *ngIf="candidate.courseFee == null">N/A  </span>
                     </td>
                     <td class="tdLabelStyle">ENROLLMENT STATUS</td>
                     <td class ="tdValueStyle">
                         {{candidate.enrollmentStstus}}
                          <span *ngIf="candidate.enrollmentStstus == null">N/A  </span>
                    </td>
                 </tr>

                 <tr class="trStyle">
                      <td class="tdLabelStyle">PAY TYPE</td>
                       <td class ="tdValueStyle">{{candidate.payType}}
                          <span *ngIf="candidate.payType == ''">N/A  </span> 
                       </td>
                      <td class="tdLabelStyle">PAY RATE</td>
                      <td  class ="tdValueStyle">{{candidate.payRate}}
                         <span *ngIf="candidate.payRate == ''">N/A  </span> 
                      </td>
                 </tr>

                 <tr class="trStyle">
                      <td class="tdLabelStyle">GRADUATION DATE</td>
                      <td class ="tdValueStyle">{{candidate.graduationDate | date}}
                          <span *ngIf="candidate.graduationDate == null">N/A  </span>
                      </td>
                       <td class="tdLabelStyle">RECRUITMENT SOURCE</td>
                      <td class ="tdValueStyle">{{candidate.recruitmentSource}}
                          <span *ngIf="candidate.recruitmentSource == ''">N/A  </span>
                      </td>
                 </tr>

                  <tr class="trStyle">
                      <td class="tdLabelStyle">CURRENT LOCATION</td>
                      <td colspan="3" class ="tdValueStyle">{{candidate.currentLocation}}
                         <span *ngIf="candidate.currentLocation == ''">N/A  </span>
                      </td>
                 </tr>

                 <tr class="trStyle">
                      <td class="tdLabelStyle">PREFERRED LOCATION</td>
                      <td colspan="3" class ="tdValueStyle"><span *ngFor="let prefLocation of candidate.preferredLocations">{{prefLocation.location}} <span style="color:#f47920;font-weight: bold">|</span> </span>
                            <span *ngIf="candidate.preferredLocations?.length == 0">N/A  </span>
                      </td>
                 </tr>

                 
             </tbody>    
      </table>

    <div *ngIf="candidate.immigrations?.length > 0">
      <h5 style="color:#f47920;font-weight: bold" *ngIf="!viewDetailsLoader" >VISA INFORMATION :</h5>

      <table class="tableStyle" *ngIf="!viewDetailsLoader" >
          <thead class="tHeadStyle">
            <tr>
               <th class="thStyle">VISA NAME</th>
               <th class="thStyle">START DATE</th>  
               <th class="thStyle">END DATE</th>   
               <th class="thStyle">STATUS</th>
            </tr>     
          </thead>
           <tbody class="tbodyStyle">
                <tr class="trStyle"  *ngFor="let im of candidate.immigrations">
                      <td class ="tdValueStyle" style="border-left-color:#dae8ef">{{im.immigrationType}}</td>
                      <td class ="tdValueStyle">{{im.startDate | date }}</td>
                      <td class ="tdValueStyle">{{im.endDate | date }}</td>
                      <td class ="tdValueStyle">{{im.status}}</td>
                 </tr>
           </tbody>
      </table>    
    </div>

<div *ngIf="followupList?.length > 0">
     <h5 style="color:#f47920;font-weight: bold" *ngIf="!viewDetailsLoader" >FOLLOWUP INFORMATION :</h5>

      <table class="tableStyle" *ngIf="!viewDetailsLoader" >
          <thead class="tHeadStyle">
            <tr>
               <th class="thStyle">FOLLOWUP DATE</th>
               <th class="thStyle">SCHEDULE DATE</th> 
               <th class="thStyle">STATUS</th>
               <th class="thStyle">REMARKS</th>   
            </tr>     
          </thead>
           <tbody class="tbodyStyle">
                <tr class="trStyle" *ngFor="let f of followupList">
                      <td class ="tdValueStyle" style="border-left-color:#dae8ef">{{f.followupDate | date}}</td>
                      <td class ="tdValueStyle">{{f.scheduledDate | date}}</td>
                      <td class ="tdValueStyle">{{f.candidateRemarks}}</td>
                      <td class ="tdValueStyle">{{f.followupRemarks}}</td>
                 </tr>
           </tbody>
      </table>    

</div>

    </p-sidebar>

   
<p-sidebar [(visible)]="candidateEditSidebar" position="right" [style]="{'overflow':'scroll'}" styleClass="ui-sidebar-lg" >
        <p-messages [value]="personalMsgs" ></p-messages>

        <span *ngIf="editloader" class="loader">
            <img src="../app/asset/image/loading.gif"  style="padding-top:20%;" width="90">
        </span>

        <p-panel header="Edit Candidate" *ngIf="!editloader">

             <form id="resourcing" [formGroup]="addCandidateForm">
                    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" >
                        <div class="ui-grid-row" styleClass="row">

                                <div class="ui-grid-col-2 gridLabel">
                                    Candidate Name<span style="color:red">*</span>
                                </div>

                                <div class="ui-grid-col-4 gridInputBox">   
                                    <span *ngIf="!addCandidateForm.controls['candidateName'].valid&&addCandidateForm.controls['candidateName'].dirty">
                                        <span class="tooltiptext">First Name Required</span>
                                    </span>

                                    <input id="candidateName"  placeholder="Enter Name" pInputText  type="text" size="36"  formControlName="candidateName"/>
                                </div> 

                           
                                <div class="ui-grid-col-2 gridLabel" >
                                    Pay Type
                                </div>

                                <div class="ui-grid-col-4 gridInputBox" >
                                    <p-dropdown [options]="payTypeList"  formControlName="payType" [autoWidth]="false"></p-dropdown>
                                </div>
                        </div>

                   <div class="ui-grid-row" styleClass="row">
                       
                                <div class="ui-grid-col-2 gridLabel" >
                                        Email<span style="color:red">*</span>
                                </div>
                                    
                                <div class="ui-grid-col-4 gridInputBox">

                                            <span *ngIf="addCandidateForm.get('email').hasError('pattern')&& addCandidateForm.get('email').dirty">
                                                    <span  class="tooltiptext"> Enter Valid Email</span>
                                            </span>

                                            <span *ngIf="addCandidateForm.get('email').hasError('required')&& addCandidateForm.get('email').dirty">
                                                    <span  class="tooltiptext"> Email Required </span>
                                            </span>
                                        
                                        <input id="email" #email  (change)="checkEmail(email.value)" placeholder="Enter Email" required pInputText type="text" size="36"  formControlName="email"/>
                                
                                </div>   
                                
                                <div class="ui-grid-col-2 gridLabel" >
                                        Pay Rate
                                </div>

                                <div class="ui-grid-col-4 gridInputBox">  
                                        <input id="pay-rate"  pInputText type="text" size="37" formControlName="payRate"/>
                                </div>   
                          
                   </div>
                    
                <div class="ui-grid-row" styleClass="row">
                    <div class="ui-grid-col-2 gridLabel">
                            Alternate Email
                    </div>

                     <div class="ui-grid-col-4 gridInputBox" >
                                <span *ngIf="addCandidateForm.get('alternateEmail').hasError('pattern')&& addCandidateForm.get('alternateEmail').dirty">
                                        <span class="tooltiptext">Enter Valid Email</span>
                                </span>      
                            <input id="altEmail"  placeholder="Enter Alternate Email" #AltEmail (change)="checkAlternateEmail(AltEmail.value)" pInputText type="text" size="36"  formControlName="alternateEmail"/>
                     </div>      

                    <div class="ui-grid-col-2 gridLabel" >
                                Graduation Date
                    </div>

                    <div class="ui-grid-col-4 gridInputBox">
                         <p-calendar id="grdDate"  [monthNavigator]="true" [yearNavigator]="true" yearRange="1800:2030" placeholder="Enter Graduation Date" showIcon="true"  formControlName="graduationDate"></p-calendar>      
                    </div>
                </div>

                  <div class="ui-grid-row" styleClass="row">
                        
                            <div class="ui-grid-col-2 gridLabel">
                                Work Mobile<span style="color:red">*</span>
                            </div>
                            
                            <div class="ui-grid-col-4 gridInputBox" >
                                    <span *ngIf="addCandidateForm.get('workMobile').hasError('pattern')&& addCandidateForm.get('workMobile').dirty">
                                    <span class="tooltiptext">Only 10 Digits</span>
                                    </span>

                                    <span *ngIf="addCandidateForm.get('workMobile').hasError('required')&& addCandidateForm.get('workMobile').dirty">
                                    <span class="tooltiptext">Work Mobile is Required</span>
                                    </span>
                                    
                                    <input id="wrkMobile"  #wrkMobile  (change)="checkMobile(wrkMobile.value)" pInputText type="text" size="36"  formControlName="workMobile"/>
                            </div> 

                            <div class="ui-grid-col-2 gridLabel">
                                Skill
                            </div> 

                            <div class="ui-grid-col-4 gridInputBox">
                                 <p-multiSelect id="products"   [options]="canSkills"  formControlName="skill"></p-multiSelect>
                            </div>  
                     </div>

                     <div class="ui-grid-row" styleClass="row">
                        
                         <div class="ui-grid-col-2 gridLabel">
                             Home Mobile
                         </div>

                        <div class="ui-grid-col-4 gridInputBox"  >

                            <span *ngIf="addCandidateForm.get('homeMobile').hasError('pattern')&& addCandidateForm.get('homeMobile').dirty">
                                <span class="tooltiptext">Only 10 Digits</span>
                            </span>

                           <input id="homeMobile"  #homeMobile (change)="checkHomeMobile(homeMobile.value)" pInputText type="text" size="36"  formControlName="homeMobile"/>
                                    
                        </div> 
                                   
                        <div class="ui-grid-col-2 gridLabel" >
                                Enrollment Status
                        </div>

                         <div class="ui-grid-col-4 gridInputBox">     
                                  <p-dropdown [options]="recStatusList"  [autoWidth]="false" formControlName="enrollmentStstus"></p-dropdown>
                        </div>

                     </div>


                <div class="ui-grid-row" styleClass="row">

                    <div class="ui-grid-col-2 gridLabel"> 
                                Visa
                    </div>

                    <div class="ui-grid-col-4 gridInputBox" >     
                         <p-dropdown [options]="visaList"  formControlName="visa" [autoWidth]="false" ></p-dropdown>
                    </div>
                        
                    <div class="ui-grid-col-2 gridLabel">  
                                 Visa Start date
                    </div>

                    <div class="ui-grid-col-4 gridInputBox" >
                            <p-calendar  id="visaStartDate" [monthNavigator]="true" [yearNavigator]="true" yearRange="1800:2030" placeholder="Enter Visa Start Date" showIcon="true"  formControlName="visaStartDate"></p-calendar>  
                    </div>
                        
                </div>

                <div class="ui-grid-row" styleClass="row">
                     
                     <div class="ui-grid-col-2 gridLabel">
                                 Rec. Source
                     </div>

                     <div class="ui-grid-col-4 gridInputBox" >  
                                <p-dropdown  [options]="recSourceList" formControlName="recruitmentSource" [autoWidth]="false" ></p-dropdown>
                    </div>

                    <div class="ui-grid-col-2 gridLabel">
                            Fee
                    </div>                
                               
                    <div class="ui-grid-col-4 gridInputBox" >
                        <input id="fee"  pInputText [readonly]="showEnrollment" type="text" size="36" placeholder="Enter Fee" formControlName="courseFee"/>
                    </div> 
                        
                </div>
                

                <div class="ui-grid-row" styleClass="row">
                    <div class="ui-grid-col-2 gridLabel">
                        Rec. Service <span style="color:red">*</span>
                    </div>
                    
                     <div class="ui-grid-col-4 gridInputBox" >

                          <span *ngIf="!addCandidateForm.controls['serviceName'].valid&&addCandidateForm.controls['serviceName'].dirty">
                                <span class="tooltiptext">Recruitment Service Required</span>
                          </span>

                         <p-dropdown  [options]="recruitmentServiceList" [autoWidth]="false" formControlName="serviceName"  ></p-dropdown>
                    </div>
                    

                         <div class="ui-grid-col-2 gridLabel">
                                    Current Location
                        </div>
                                
                        <div class="ui-grid-col-4 gridInputBox" >
                                    
                            <input id="currLocation"  pInputText type="text" size="36" placeholder="Enter Current Location" formControlName="currentLocation"/>
                        </div>
                                   
                        
                </div>

               <div  formArrayName="preferredLocations">
                        
                          
                     <div *ngFor="let location of addCandidateForm.controls.preferredLocations.controls; let i=index">
                              
                              <div>
                                <a *ngIf="addCandidateForm.controls.preferredLocations.controls.length > 1" style="cursor: default;color:red;" (click)="removePreferredLocations(i)">Close
                                </a>
                               </div>

                               <div [formGroupName]="i">
                                 <div class="ui-grid-row"  styleClass="row">
                                   
                                        <div class="ui-grid-col-2 gridLabel">
                                            Pref. Location
                                        </div>

                                        <div class="ui-grid-col-4 gridInputBox">
                                            <input id="loc"  pInputText type="text"  formControlName="location"/>
                                        </div>
                                    
                                    </div> 

                               </div> 

                         </div> 
                         <div class="margin-20">
                           
                                <a (click)="addPreferredLocations()" style="cursor: default;color:blue;">
                                    Add another Preferred Location +
                                </a>
                           
                        </div>  
                     
                     </div>   
              </div>
                    <div class="ui-g" >
                             <span style="padding-left:46%;padding-top:1%">
                                 <button pButton type="button" [disabled]="!addCandidateForm.valid || showEnrollment" icon="fa-pencil-square-o" iconPos="right" (click)="updateCandidate()" label="Update"></button>
                             </span>
                        </div>
                </form>

        </p-panel>

        <div style="margin-left:1%;margin-top:1%;" *ngIf="!editloader">
                   <span style="color:red">*</span> Mandatory Fields 
        </div>
    
    </p-sidebar>


      <p-sidebar [(visible)]="candidateFollowUpEditSidebar"  position="right" [style]="{'overflow':'scroll'}" styleClass="ui-sidebar-lg" >
        <span *ngIf="editFollowUpLoader" class="loader">
            <img src="../app/asset/image/loading.gif"  style="padding-top:20%;" width="90">
        </span>

          <p-messages [value]="followupMsgs" ></p-messages>
           <h5 *ngIf="!editFollowUpLoader" style="color:#f47920;font-weight: bold">PERSONAL INFORMATION :</h5>
           <table class="tableStyle" *ngIf="!editFollowUpLoader">

             <tbody class="tbodyStyle">

                 <tr class="trStyle">
                      <td  class="tdLabelStyle">NAME</td>
                      <td colspan="3" class ="tdValueStyle" style="border-top-color:#e5ebf0">{{candidate.candidateName}}</td>
                 </tr>

                 <tr class="trStyle">
                      <td class="tdLabelStyle">PHONE</td>
                      <td colspan="3" class ="tdValueStyle" ><span *ngFor="let ph of candidate.phones">{{ph.type}} : {{ph.number}} <span style="color:#f47920;font-weight: bold">|</span> </span></td>
                 </tr>

                  <tr class="trStyle">
                      <td class="tdLabelStyle">EMAIL</td>
                      <td colspan="3" class ="tdValueStyle">WORK : {{candidate.socialMedia.email}}<span>|</span>ALT : {{candidate.socialMedia.alternateEmail}}</td>
                 </tr>

                  <tr class="trStyle">
                      <td  class="tdLabelStyle">SKILL</td>
                      <td colspan="3" class ="tdValueStyle"><span *ngFor="let canCourse of candidate.candidateCourses">{{canCourse.course}} <span style="color:#f47920;font-weight: bold">|</span> </span></td>
                       <span *ngIf="candidate.candidateCourses?.length == 0">N/A  </span>
                 </tr>

                 <tr class="trStyle">
                     <td class="tdLabelStyle">COURSE FEE</td>
                     <td class ="tdValueStyle">{{candidate.courseFee}}
                          <span *ngIf="candidate.courseFee == null">N/A  </span>
                     </td>
                     <td class="tdLabelStyle">ENROLLMENT STATUS</td>
                     <td class ="tdValueStyle">{{candidate.enrollmentStstus}}
                         <span *ngIf="candidate.enrollmentStstus == null">N/A  </span>
                     </td>
                 </tr>

                 <tr class="trStyle">
                      <td class="tdLabelStyle">PAY TYPE</td>
                      <td class ="tdValueStyle">{{candidate.payType}}
                          <span *ngIf="candidate.payType == ''">N/A  </span>
                      </td>
                      <td class="tdLabelStyle">PAY RATE</td>
                      <td class ="tdValueStyle">{{candidate.payRate}}
                          <span *ngIf="candidate.payRate == ''">N/A  </span>
                      </td>
                 </tr>

                 <tr class="trStyle">
                      <td class="tdLabelStyle">GRADUATION DATE</td>
                      <td class ="tdValueStyle">{{candidate.graduationDate | date}}
                          <span *ngIf="candidate.graduationDate == null">N/A  </span>
                      </td>
                      <td class="tdLabelStyle">RECRUITMENT SOURCE</td>
                      <td class ="tdValueStyle">{{candidate.recruitmentSource}}
                          <span *ngIf="candidate.recruitmentSource == ''">N/A  </span>
                      </td>
                 </tr>

                  <tr class="trStyle">
                      <td class="tdLabelStyle">CURRENT LOCATION</td>
                      <td colspan="3" class ="tdValueStyle">{{candidate.currentLocation}}
                          <span *ngIf="candidate.currentLocation == ''">N/A  </span>
                      </td>
                 </tr>

                 <tr class="trStyle">
                      <td class="tdLabelStyle">PREFERRED LOCATION</td>
                      <td colspan="3"  class ="tdValueStyle"><span *ngFor="let prefLocation of candidate.preferredLocations">{{prefLocation.location}} <span style="color:#f47920;font-weight: bold">|</span> </span>
                             <span *ngIf="candidate.preferredLocations?.length > 0">N/A  </span>
                      </td>
                 
                 </tr>

                 
             </tbody>    
      </table> 

      <h5 style="color:#f47920;font-weight: bold" *ngIf="!editFollowUpLoader">UPDATE FOLLOWUP :</h5>

                       <form  [formGroup]="addFollowUpForm" *ngIf="!editFollowUpLoader">
                            <div style="background-color:#f3f6f9;margin-top:-1%;">
                            <div class="ui-grid-row" style="padding-top:3%;margin-left:1%;">
                                <span style="padding-left:1%">Follow Up Date: <span style="color:red">*</span></span>
                                <div class="ui-g-12" style="position: relative;">
                                    <span *ngIf="!addFollowUpForm.controls['nextFollowUpDate'].valid&&addFollowUpForm.controls['nextFollowUpDate'].dirty">
                                        <span class="tooltiptext1">Next Follow Up Date Required</span>
                                    </span>

                                    <p-calendar id="grdDate" placeholder="Enter Follow Up Date" [inputStyle]="{'height':'44px','width':'170.2%'}" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030"  formControlName="nextFollowUpDate"></p-calendar>
                                </div>
                         </div>

                     <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="padding-top:2%">    
                        <div class="ui-grid-row" style="padding-left:.30%">
                            <div class="ui-grid-col-12">
                                Follow Up Remarks:<span style="color:red">*</span>
                            </div>
                            
                        </div>

                         <div class="ui-grid-row">
                            
                            <div class="ui-grid-col-12" style="position: relative;">
                                <span *ngIf="!addFollowUpForm.controls['followupRemarks'].valid&&addFollowUpForm.controls['followupRemarks'].dirty">
                                        <span class="tooltiptext1">Follow Up Remarks Required</span>
                                </span>

                                <input pInputText  type="text" hidden="true" formControlName="candidateId" />
                                <textarea pInputTextarea formControlName="followupRemarks" [rows]="5" [cols]="30" autoResize="autoResize" ></textarea>
                            </div>
                        </div> 
                       
                    <div class="ui-grid-row" style="margin-left:40%;margin-top:2%">
                        <div class="ui-grid-col-6" >
                            <button pButton type="button" [disabled]="!addFollowUpForm.valid" icon="fa-pencil-square-o" iconPos="right" (click)="saveFollowUp()" label="Update"></button>
                        </div>
                    </div>
                    </div>  
                  </div> 
                  
                  <div style="margin-left:1%;margin-top:1%;" *ngIf="!editFollowUpLoader">
                   <span style="color:red">*</span> Mandatory Fields 
                  </div>
                </form>

                <h5 style="color:#f47920;font-weight: bold" *ngIf="!editFollowUpLoader">FOLLOWUP LIST :</h5>

                <div style="margin-top:1%;" *ngIf="!editFollowUpLoader">
               <p-dataTable [value]="followupList" sortField="followupDate" sortOrder="-1" [rows]="4" paginatorPosition="both" responsive="true" filterDelay="2000" [paginator]="true">
                  
                   <p-column field="followupDate"  header="FollowUp Date" >

                        <ng-template let-row="rowData" pTemplate="body">
                            {{row.followupDate | date}}
                        </ng-template> 

                    </p-column>

                    <p-column field="scheduledDate"  header="Scheduled Date" >

                        <ng-template let-row="rowData" pTemplate="body">
                            {{row.scheduledDate | date}}
                        </ng-template> 

                    </p-column>
                
                  <p-column field="candidateRemarks" header="Status"></p-column>
                  <p-column field="followupRemarks" header="Remarks"></p-column>
              </p-dataTable>  
              </div>
              
   
      </p-sidebar>




      <p-sidebar [(visible)]="candidateCallHistroySlidBar"  position="right" [style]="{'overflow':'scroll'}" styleClass="ui-sidebar-lg" >
         
         <span *ngIf="callHistoryLoader" class="loader">
            <img src="../app/asset/image/loading.gif"  style="padding-top:20%;" width="90">
        </span>

         <h5 style="color:#f47920;font-weight: bold" *ngIf="!callHistoryLoader">CALL HISTORY :</h5>

         <div style="margin-top:2px;" *ngIf="!callHistoryLoader">
             <p-dataTable [value]="phoneCallList" [loading]="loading">
                  <p-column field="employeeName" header="Employee Name"></p-column>
                  <p-column field="extension" header="Extension"></p-column>
                  <p-column field="destNumber" header="Dest Number"></p-column>
                  <p-column field="callingDate" header="Calling Date"></p-column>
                  <p-column field="callDuration" header="Duration"></p-column>
                  <p-column field="callStatus" header="Status"></p-column>
                  <p-column field="callingLocation" header="Location"></p-column>
                  <p-column field="inOut" header="IN/OUT"></p-column>      
            </p-dataTable> 
        </div>

   </p-sidebar> 


   <p-sidebar [(visible)]="candidateSendEnrollmentSlidBar"  position="right" [style]="{'overflow':'scroll'}" styleClass="ui-sidebar-lg" >

        <!--<span *ngIf="enrollmentLoader" class="loader">
            <img src="../app/asset/image/loading.gif"  style="padding-top:20%;" width="90">
        </span>-->

        <p-messages [value]="enrollmentMsg" ></p-messages>

      <h5 style="color:#f47920;font-weight: bold">PERSONAL INFORMATION :</h5>

         <table class="tableStyle">
         <tbody class="tbodyStyle">

                 <tr class="trStyle">
                      <td class="tdLabelStyle" >NAME</td>
                      <td colspan="3" class ="tdValueStyle" style="border-top-color:#e5ebf0">{{candidate.candidateName}}</td>
                 </tr>

                 <tr class="trStyle">
                      <td class="tdLabelStyle">PHONE</td>
                      <td colspan="3" class ="tdValueStyle"><span *ngFor="let ph of candidate.phones">{{ph.type}} : {{ph.number}} <span style="color:#f47920;font-weight: bold">|</span> </span></td>
                 </tr>

                  <tr class="trStyle">
                      <td class="tdLabelStyle">EMAIL</td>
                      <td colspan="3" class ="tdValueStyle">WORK : {{candidate.socialMedia.email}} <span style="color:#f47920;font-weight: bold">| </span>ALT : {{candidate.socialMedia.alternateEmail}}</td>
                 </tr>

                  <tr class="trStyle">
                      <td class="tdLabelStyle">SKILL</td>
                      <td colspan="3" class ="tdValueStyle"><span *ngFor="let canCourse of candidate.candidateCourses">{{canCourse.course}} <span style="color:#f47920;font-weight: bold">|</span> </span></td>
                 </tr>

                 <tr class="trStyle">
                     <td class="tdLabelStyle">COURSE FEE</td>
                     <td class ="tdValueStyle">{{candidate.courseFee}}</td>
                     <td class="tdLabelStyle">ENROLLMENT STATUS</td>
                     <td class ="tdValueStyle">{{candidate.enrollmentStstus}}</td>
                 </tr>

                 <tr class="trStyle">
                      <td class="tdLabelStyle">PAY TYPE</td>
                       <td class ="tdValueStyle">{{candidate.payType}}</td>
                      <td class="tdLabelStyle">PAY RATE</td>
                      <td  class ="tdValueStyle">{{candidate.payRate}}</td>
                 </tr>

                 <tr class="trStyle">
                      <td class="tdLabelStyle">GRADUATION DATE</td>
                      <td class ="tdValueStyle">{{candidate.graduationDate | date}}</td>
                       <td class="tdLabelStyle">RECRUITMENT SOURCE</td>
                      <td class ="tdValueStyle">{{candidate.recruitmentSource}}</td>
                 </tr>

                  <tr class="trStyle">
                      <td class="tdLabelStyle">CURRENT LOCATION</td>
                      <td colspan="3" class ="tdValueStyle">{{candidate.currentLocation}}</td>
                 </tr>

                 <tr class="trStyle">
                      <td class="tdLabelStyle">PREFERRED LOCATION</td>
                      <td colspan="3" class ="tdValueStyle"><span *ngFor="let prefLocation of candidate.preferredLocations">{{prefLocation.location}} <span style="color:#f47920;font-weight: bold">|</span> </span></td>
                 </tr>

                 
             </tbody>    
      </table>
         
        <div class="ui-grid-row">

        <div class="ui-grid-col-12" style="text-align:center;margin-top:10%">
            <button pButton type="button"  icon="fa-paper-plane" iconPos="right" (click)="enrollmentSendConfirmation()" label="Send Credentials"></button>
        </div>

      </div>

   </p-sidebar>


   <p-sidebar [(visible)]="paymentViewSlideBar"  position="right" [style]="{'overflow':'scroll'}" styleClass="ui-sidebar-lg" >

        <span *ngIf="paymentViewLoader" class="loader">
            <img src="../app/asset/image/loading.gif"  style="padding-top:20%;" width="90">
        </span>
 <div *ngIf="paymentDetails == null" style="text-align:center">
     <h3 style="color:#f47920;font-weight: bold;margin-top:40%">No Payment Available</h3>
</div>

 <div class="ui-g" *ngIf="paymentDetails != null">
<div class="ui-grid-col-12" *ngFor="let paymentDetail of paymentDetails; let index = index" >
         <h5 style="color:#477865;font-weight: bold">PAYMENT {{index + 1}}</h5>
         <h5 style="color:#f47920;font-weight: bold">PAYMENT INFORMATION :</h5>
                        <table class="tableStyle">
                            <tbody class="tbodyStyle">
                                <tr class="trStyle">
                                      <td class="tdLabelStyle">PAYMENT ID</td>
                                      <td  class ="tdValueStyle" style="border-top-color:#e5ebf0">{{paymentDetail.paymentInfo.payemntId}}</td>
                                  </tr>
                            </tbody>
                           
                            <tbody class="tbodyStyle">
                                <tr class="trStyle">
                                       <td class="tdLabelStyle">PAYMENT METHOD</td>
                                       <td  class ="tdValueStyle" style="border-top-color:#e5ebf0">{{paymentDetail.paymentInfo.payer.paymentMethod}}</td>
                                </tr>
                            </tbody>

                            <tbody class="tbodyStyle">
                                <tr class="trStyle">
                                       <td class="tdLabelStyle">PAYMENT STATUS</td>
                                       <td  class ="tdValueStyle" style="border-top-color:#e5ebf0">{{paymentDetail.status}}</td>
                                </tr>
                            </tbody>

                            <tbody class="tbodyStyle">
                                <tr class="trStyle">
                                       <td class="tdLabelStyle">CREATED DATE</td>
                                       <td  class ="tdValueStyle" style="border-top-color:#e5ebf0">{{paymentDetail.createdDate}}</td>
                                </tr>
                            </tbody>

                        </table>

                        <h5 style="color:#f47920;font-weight: bold">ADDRESS :</h5>
                            <table class="tableStyle">
                                <tbody class="tbodyStyle">
                                    <tr class="trStyle">
                                       <td class="tdLabelStyle" style="width:38%">RECIPIENT NAME</td>
                                       <td  class ="tdValueStyle" style="border-top-color:#e5ebf0">{{paymentDetail.paymentInfo.payer.payerInfo.shippingAddress.recipientName}}</td>
                                  </tr>
                                </tbody>

                                <tbody class="tbodyStyle">
                                    <tr class="trStyle">
                                        <td class="tdLabelStyle" >LINE 1</td>
                                        <td  class ="tdValueStyle" style="border-top-color:#e5ebf0">{{paymentDetail.paymentInfo.payer.payerInfo.shippingAddress.line1}}</td>
                                    </tr>
                                </tbody>

                                <tbody class="tbodyStyle">
                                        <tr class="trStyle">
                                            <td class="tdLabelStyle">LINE2</td>
                                            <td  class ="tdValueStyle" style="border-top-color:#e5ebf0">
                                                <span *ngIf="paymentDetail.paymentInfo.payer.payerInfo.shippingAddress.line2 == null">
                                                        N/A
                                                </span>
                                                {{paymentDetail.paymentInfo.payer.payerInfo.shippingAddress.line2}}
                                            </td>
                                        </tr>
                                </tbody>

                                <tbody class="tbodyStyle">
                                    <tr class="trStyle">
                                        <td class="tdLabelStyle" >COUNTRY</td>
                                        <td  class ="tdValueStyle" style="border-top-color:#e5ebf0">{{paymentDetail.paymentInfo.payer.payerInfo.shippingAddress.countryCode}}</td>
                                    </tr>
                               </tbody>

                                <tbody class="tbodyStyle">
                                    <tr class="trStyle">
                                    <td class="tdLabelStyle" >CITY</td>
                                    <td  class ="tdValueStyle" style="border-top-color:#e5ebf0">{{paymentDetail.paymentInfo.payer.payerInfo.shippingAddress.city}}</td>
                                    </tr>
                                </tbody>

                                <tbody class="tbodyStyle">
                                    <tr class="trStyle">
                                    <td class="tdLabelStyle" >POSTAL</td>
                                    <td  class ="tdValueStyle" style="border-top-color:#e5ebf0">{{paymentDetail.paymentInfo.payer.payerInfo.shippingAddress.postalCode}}</td>
                                    </tr>
                                </tbody>

                                <tbody class="tbodyStyle">
                                <tr class="trStyle">
                                    <td class="tdLabelStyle" >STATE</td>
                                    <td  class ="tdValueStyle" style="border-top-color:#e5ebf0">{{paymentDetail.paymentInfo.payer.payerInfo.shippingAddress.state}}</td>
                                </tr>
                                </tbody>

                            </table>

                        <h5 style="color:#f47920;font-weight: bold">AMOUNT :</h5>
                        <table class="tableStyle">

                            <tbody class="tbodyStyle">
                                <tr class="trStyle">
                                      <td class="tdLabelStyle" style="width:38%">CURRENCY</td>
                                      <td  class ="tdValueStyle" style="border-top-color:#e5ebf0">{{this.paymentDetail.paymentInfo.transactions.amount.currency}}</td>
                                
                                </tr>
                            </tbody>

                            <tbody class="tbodyStyle">
                                <tr class="trStyle">
                                      <td class="tdLabelStyle">TOTAL</td>
                                      <td  class ="tdValueStyle" style="border-top-color:#e5ebf0">{{this.paymentDetail.pricePerItem}}</td>
                                
                                </tr>
                            </tbody>

                             <tbody class="tbodyStyle">
                                <tr class="trStyle">
                                      <td class="tdLabelStyle">PAID AMOUNT</td>
                                      <td  class ="tdValueStyle" style="border-top-color:#e5ebf0">{{this.paymentDetail.paymentInfo.transactions.amount.details.subtotal}}</td>
                                
                                </tr>
                            </tbody>

                            <tbody class="tbodyStyle">
                                <tr class="trStyle">
                                      <td class="tdLabelStyle">DUE AMOUNT</td>
                                      <td  class ="tdValueStyle" style="border-top-color:#e5ebf0">{{this.paymentDetail.dueAmount}}</td>
                                
                                </tr>
                            </tbody>

                        </table>
                     
                     <h5 style="color:#f47920;font-weight: bold">ITEM :</h5>
                        <table class="tableStyle">
                           

                             <tbody class="tbodyStyle">
                                <tr class="trStyle">
                                      <td class="tdLabelStyle" style="width:38%">COURSE NAME</td>
                                      <td  class ="tdValueStyle" style="border-top-color:#e5ebf0">{{paymentDetail.paymentInfo.transactions.itemList.item.name}}</td>
                                </tr>
                            </tbody>

                            <tbody class="tbodyStyle">
                                <tr class="trStyle">
                                      <td class="tdLabelStyle">QUANTITY</td>
                                      <td  class ="tdValueStyle" style="border-top-color:#e5ebf0">{{paymentDetail.paymentInfo.transactions.itemList.item.quantity}}</td>
                                </tr>
                            </tbody>

                            <tbody class="tbodyStyle">
                                <tr class="trStyle">
                                      <td class="tdLabelStyle">PRICE</td>
                                      <td  class ="tdValueStyle" style="border-top-color:#e5ebf0">{{this.paymentDetail.pricePerItem}}</td>
                                </tr>
                            </tbody>

                            <tbody class="tbodyStyle">
                                <tr class="trStyle">
                                      <td class="tdLabelStyle">CURRENCY</td>
                                      <td  class ="tdValueStyle" style="border-top-color:#e5ebf0">{{paymentDetail.paymentInfo.transactions.itemList.item.currency}}</td>
                                </tr>
                            </tbody>

                        </table>
                        <hr>
                    </div>

          </div>
        
   </p-sidebar>


    <p-dialog  [style]="{'background-color':'black'}"  [(visible)]="showDialog" modal="modal" width="600" [responsive]="true">
        
                <p-header>
                    <span style="color:red"> This Candidate Allready Registered </span>
                </p-header>
      
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="padding-top:1%">
           
           <div class="ui-grid-row" style="padding-left:30%;padding-top:1%">
                <span style="font-weight: bold;color:white;font-size:20px">Name:</span> <span style="color:white;font-size:20px">{{candidate.candidateName}}</span>
           </div>

           <div class="ui-grid-row" style="padding-top:2%;padding-left:30%">
                <span style="font-weight: bold;color:white;font-size:20px">Email:</span> <span style="color:white;font-size:20px"> {{candidate.socialMedia.email}} </span>
           </div>

           <div class="ui-grid-row" style="padding-top:2%;padding-left:30%">
                <span style="font-weight: bold;color:white;font-size:20px">Alt.Email:</span> <span style="color:white;font-size:20px">  <span *ngIf="candidate.socialMedia.alternateEmail == '' || candidate.socialMedia.alternateEmail === null " >N/A</span>
                            {{candidate.socialMedia.alternateEmail}}   </span>
           </div>

            <div class="ui-grid-row" style="padding-top:2%;padding-left:30%">

                  <span style="font-weight: bold;color:white;font-size:20px">Work Mobile:</span>
                        <span *ngFor="let wm of candidate.phones" >
                            
                            <span *ngIf="wm.type === 'Work Mobile' " > <span style="color:white;font-size:20px"> {{wm.number}} </span>
                                <span *ngIf="wm.number == '' || wm.number === null " > <span style="color:white;font-size:20px">N/A </span></span>
                            </span>
                                    
                        </span> 
            </div>


             <div class="ui-grid-row" style="padding-top:2%;padding-left:30%">
                    <span style="font-weight: bold;color:white;font-size:20px">Home Mobile :</span> 
                                
                        <span *ngFor="let wm of candidate.phones" >
                            <span *ngIf="wm.type === 'Home Mobile' " >
                                    <span *ngIf="wm.number == '' || wm.number === null " > <span style="color:white;font-size:20px">N/A </span></span>
                                       <span style="color:white;font-size:20px"> {{wm.number}} </span>
                                    </span>
                            </span>

             </div>

            <div class="ui-grid-row" style="padding-top:2%;padding-left:30%">
                <span style="font-weight: bold;color:white;font-size:20px">Recruiter Name:</span> <span style="color:white;font-size:20px"> {{candidate.createdBy.name}} </span>
           </div>

            <div class="ui-grid-row" style="padding-top:2%;padding-left:30%;padding-bottom:10%">
                <span style="font-weight: bold;color:white;font-size:20px">Entry Date:</span> <span style="color:white;font-size:20px"> {{candidate.createdDate|date}} </span>
           </div>

      </div>

</p-dialog>

<p-dialog header="Confermation" [(visible)]="enrollmentSendDialog" modal="modal" width="300" [responsive]="true">
         <div style="text-align:center">
             Do You Want To Send Enrollment Form
            <button type="button" pButton icon="fa-check" (click)="sendEnrollment()" label="Yes"></button>
            <button type="button" pButton icon="fa-close" (click)="enrollmentSendDialog=false" label="No"></button>
         </div>
</p-dialog>


</div>