<span *ngIf="showloader" class="loader">
    <img src="../app/asset/image/loading.gif"  style="padding-top:20%;" width="90">
</span>

<menu *ngIf="!showloader" ></menu>
<div class="ui-g" *ngIf="!showloader" >
    
     
        <div class="ui-g-12" >
            <p-panel header="Candidate Information">
                <div style="text-align: center;padding-top:1%">
                    
                    <h5 style="color:green;font-weight: bold">YOUR SUBMISSION SUCCESSFULLY SAVED</h5>

                </div>
      
                    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="padding-top:1%">

                        <div class="ui-grid-col-6" style="padding-right:2%">

                             <h5 style="color:#f47920;font-weight: bold">CANDIDATE INFORMATION :</h5>
      <table class="tableStyle">

             <tbody class="tbodyStyle">

                 <tr class="trStyle">
                      <td class="tdLabelStyle">NAME</td>
                      <td colspan="3" class ="tdValueStyle" style="border-top-color:#e5ebf0">{{candidate.candidateName}}</td>
                 </tr>

                 <tr class="trStyle">
                      <td class="tdLabelStyle">PHONE</td>
                      <td colspan="3" class ="tdValueStyle"><span *ngFor="let ph of candidate.phones">{{ph.type}} : {{ph.number}} <span style="color:#f47920;font-weight: bold">|</span> </span></td>
                 </tr>

                  <tr  class="trStyle">
                      <td class="tdLabelStyle" >EMAIL</td>
                      <td colspan="3" class ="tdValueStyle">WORK : {{candidate.socialMedia.email}} <span style="color:#f47920;font-weight: bold">| </span>ALT : {{candidate.socialMedia.alternateEmail}}</td>
                 </tr>

                  <tr class="trStyle">
                      <td class="tdLabelStyle">SKILL</td>
                      <td colspan="3"  class ="tdValueStyle"><span *ngFor="let canCourse of candidate.candidateCourses">{{canCourse.course}} <span style="color:#f47920;font-weight: bold">|</span> </span></td>
                 </tr>

                 <tr class="trStyle">
                     <td class="tdLabelStyle">COURSE FEE</td>
                     <td class ="tdValueStyle">{{candidate.courseFee}}</td>
                     <td class="tdLabelStyle">ENROLLMENT STATUS</td>
                     <td class ="tdValueStyle">{{candidate.enrollmentStstus}}</td>
                 </tr>

                 <tr class="trStyle">
                      <td class="tdLabelStyle">PAY TYPE</td>
                       <td class ="tdValueStyle">{{candidate.payType}}</td>
                      <td class="tdLabelStyle">PAY RATE</td>
                      <td class ="tdValueStyle">{{candidate.payRate}}</td>
                 </tr>

                 <tr class="trStyle">
                      <td class="tdLabelStyle">GRADUATION DATE</td>
                      <td class ="tdValueStyle">{{candidate.graduationDate | date}}</td>
                       <td class="tdLabelStyle">RECRUITMENT SOURCE</td>
                      <td class ="tdValueStyle">{{candidate.recruitmentSource}}</td>
                 </tr>

                  <tr class="trStyle">
                      <td class="tdLabelStyle">CURRENT LOCATION</td>
                      <td colspan="3" class ="tdValueStyle">{{candidate.currentLocation}}</td>
                 </tr>

                 <tr class="trStyle">
                      <td class="tdLabelStyle">PREFERRED LOCATION</td>
                      <td colspan="3" class ="tdValueStyle"><span *ngFor="let prefLocation of candidate.preferredLocations">{{prefLocation.location}} <span style="color:#f47920;font-weight: bold">|</span> </span></td>
                 </tr>

                 
             </tbody>    
      </table>

                        </div>

     <div class="ui-grid-col-6">

         <h5 style="color:#f47920;font-weight: bold">FOLLOWUP INFORMATION :</h5>

      <table class="tableStyle">
          <thead class="tHeadStyle">
            <tr>
               <th class="thStyle">FOLLOWUP DATE</th>
               <th class="thStyle">SCHEDULE DATE</th> 
               <th class="thStyle">STATUS</th>
               <th class="thStyle">REMARKS</th>   
            </tr>     
          </thead>
           <tbody class="tbodyStyle">
                <tr class="trStyle" *ngFor="let f of followUps">
                      <td class="tdValueStyle" style="border-left-color:#dae8ef">{{f.followupDate | date}}</td>
                      <td class="tdValueStyle">{{f.scheduledDate | date}}</td>
                      <td class="tdValueStyle">{{f.candidateRemarks}}</td>
                      <td class="tdValueStyle">{{f.followupRemarks}}</td>
                 </tr>
           </tbody>
      </table>   





    </div>    
        </div>
        

                                  
    </p-panel>

 </div>
    


</div>