<span *ngIf="showloader" class="loader">
    <img src="../app/asset/image/loading.gif"  style="padding-top:20%;" width="90">
</span>
<menu *ngIf="!showloader" ></menu>

<div class="ui-g">
     <div class="ui-g-12">
     <form [formGroup]="checkIncentive"> 
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="padding-left:2.3%;padding-right:10%">
         <div class="ui-grid-row" styleClass="row">

                 <div class="ui-grid-col-2 gridLabel" >
                       Recruiter Name<span style="color:red">*</span>
                </div>

                <div class="ui-grid-col-2 gridInputBox">
                    <span *ngIf="!checkIncentive.controls['employeeID'].valid&&checkIncentive.controls['employeeID'].dirty">
                        <span class="tooltiptext"> Recruiter Name Required</span>
                    </span>

                        <p-dropdown [options]="employeeName" formControlName="employeeID" [autoWidth]="false"></p-dropdown> 
                </div>



                <div class="ui-grid-col-1 gridLabel" >
                        Select Month<span style="color:red">*</span>
                </div>
                                
                <div class="ui-grid-col-2 gridInputBox" >

                    <span *ngIf="!checkIncentive.controls['selectedMonth'].valid&&checkIncentive.controls['selectedMonth'].dirty">
                        <span class="tooltiptext">Month Required</span>
                    </span>
                                    
                        <p-dropdown [options]="months" formControlName="selectedMonth" [autoWidth]="false"></p-dropdown>  
                                    
                </div>  

                <div class="ui-grid-col-1 gridLabel" >
                       Select Year<span style="color:red">*</span>
                </div>

                <div class="ui-grid-col-2 gridInputBox">
                    <span *ngIf="!checkIncentive.controls['selectedYear'].valid&&checkIncentive.controls['selectedYear'].dirty">
                        <span class="tooltiptext">Year Required</span>
                    </span>

                        <p-dropdown [options]="years" formControlName="selectedYear" [autoWidth]="false"></p-dropdown> 
                </div>

                  <div class="ui-grid-col-1 gridInputBox">
                         <button type="button"  [disabled]="!checkIncentive.valid" (click)="sendIncentiveMonthYear()" pButton icon="fa fa-search" label="Check"></button>
                  </div>

            </div>
        </div>
            </form>
      </div>
</div>
<hr>

<div class="ui-g" *ngIf="!showloader" >
    <div class="ui-grid-row" *ngIf="!showloader">
        <div class="ui-g-12" *ngIf="individulaPaymentDto != null">
   
         <h5 style="color:#f47920;font-weight: bold">INDIVIDUAL PAYMENT :</h5>

             <p-dataTable #individualtd exportFilename="individualIncentive" selectionMode="multiple" [metaKeySelection]="false" [value]="individulaPaymentDto.paymentList" >
                  
                  <p-header>
                        <div class="ui-helper-clearfix">
                             <button type="button" pButton icon="fa-file" iconPos="left" label="Selection Only" (click)="individualtd.exportCSV({selectionOnly:true})" style="float:right"></button>
                            <button type="button" pButton icon="fa-file-o" iconPos="left" label="All Data" (click)="individualtd.exportCSV()" style="float:left"></button>
                        </div>
                 </p-header>
                  
                  <p-column field="candidateId" header="Candidate Id"></p-column>
                  <p-column field="candidateName" header="Candidate Name"></p-column>
                  <p-column field="createdBy.name" header="Recruiter Name"></p-column>
                  <p-column field="email" [style]="{'width':'20%'}" header="Email"></p-column>
                  <p-column field="coureseName" header="Courese Name"></p-column>
                  
                  <p-column field="createdDate"   header="Payment Date" >

                    <ng-template let-row="rowData" pTemplate="body">
                        {{row.createdDate | date}}
                    </ng-template> 

                </p-column>

                  <p-column field="paymentInfo.payemntId" [style]="{'width':'20%'}" header="Payemnt Id"></p-column>
                  <p-column field="paymentInfo.transactions.amount.total" header="Paid Amount"></p-column> 
                  <p-column field="dueAmount" header="Due Amount"></p-column>
                  <p-column field="pricePerItem" header="Total Amount"></p-column>    

                  <p-footerColumnGroup>
                        <p-row>
                            <p-column footer="Amount In Doller($)" [style]="{'text-align':'right'}" colspan="7"></p-column>
                            <p-column footer={{individulaPaymentDto.totalAmountInDoller}}></p-column>
                            <p-column footer="Incentive(Rs)"></p-column>
                            <p-column footer={{individulaPaymentDto.totalIncentiveInInr}}></p-column>
                        </p-row>
                 </p-footerColumnGroup>
            </p-dataTable> 

      </div>

       <div class="ui-g-12" *ngIf="teamLeaderPaymentDto != null">
   
         <h5 style="color:#f47920;font-weight: bold">TEAM PAYMENT :</h5>

             <p-dataTable #teamleadertd exportFilename="teamleaderIncentive" selectionMode="multiple" [metaKeySelection]="false" [value]="teamLeaderPaymentDto.paymentList" >
                  
                  <p-header>
                        <div class="ui-helper-clearfix">
                             <button type="button" pButton icon="fa-file" iconPos="left" label="Selection Only" (click)="teamleadertd.exportCSV({selectionOnly:true})" style="float:right"></button>
                            <button type="button" pButton icon="fa-file-o" iconPos="left" label="All Data" (click)="teamleadertd.exportCSV()" style="float:left"></button>
                        </div>
                 </p-header>
                  
                  
                  <p-column field="candidateId" header="Candidate Id"></p-column>
                  <p-column field="candidateName" header="Candidate Name"></p-column>
                  <p-column field="createdBy.name" header="Recruiter Name"></p-column>
                  <p-column field="email" [style]="{'width':'20%'}" header="Email"></p-column>
                  <p-column field="coureseName" header="Courese Name"></p-column>
                   
                  <p-column field="createdDate"   header="Payment Date" >

                    <ng-template let-row="rowData" pTemplate="body">
                        {{row.createdDate | date}}
                    </ng-template> 

                 </p-column>

                  <p-column field="paymentInfo.payemntId" [style]="{'width':'20%'}" header="Payemnt Id"></p-column>
                  <p-column field="paymentInfo.transactions.amount.total" header="Paid Amount"></p-column> 
                  <p-column field="dueAmount" header="Due Amount"></p-column>
                  <p-column field="pricePerItem" header="Total Amount"></p-column>    

                   <p-footerColumnGroup>
                        <p-row>
                            <p-column footer="Amount In Doller($)" [style]="{'text-align':'right'}" colspan="7"></p-column>
                            <p-column footer={{teamLeaderPaymentDto.totalAmountInDoller}}></p-column>
                            <p-column footer="Incentive(Rs)"></p-column>
                            <p-column footer={{teamLeaderPaymentDto.totalIncentiveInInr}}></p-column>
                        </p-row>
                 </p-footerColumnGroup>

            </p-dataTable> 
        
      </div>

     <div class="ui-g-12" *ngIf="individulaPaymentDto == null && teamLeaderPaymentDto == null">
          
            <h1 style="color:#f47920;font-weight: bold;margin-top:20%;padding-left:60%">No Payment Available</h1>
          
      </div>

</div>
</div>