<span *ngIf="showloader" class="loader">
    <img src="../app/asset/image/loading.gif"  style="padding-top:20%;" width="90">
</span>

<menu *ngIf="!showloader" ></menu>

<div class="ui-g" *ngIf="!showloader" >
    <div class="ui-grid-row">
        <div class="ui-g-12" >
             <p-dataTable [value]="allPaidCandidateList" selectionMode="single" responsive="true" [(selection)]="selectedCandidate"
             [contextMenu]="cm" [rows]="20" [paginator]="true" [rowsPerPageOptions]="[5,10,20]" dataKey="candidateId"  #dt >
            
          
                <p-header>
                    <div style="display:inline-block"><b>Paid Candidate List</b></div>
                </p-header>
                <p-column field="candidateId" [sortable]="true" [filter]="true" header="Id"></p-column>
                <p-column field="candidateName" [sortable]="true" [filter]="true" header="Name"></p-column>
                <p-column field="workMobile" [sortable]="true" [filter]="true" header="Work Mobile"></p-column>
                <p-column field="email" [sortable]="true" [filter]="true" header="E-Mail"></p-column>
                 
            </p-dataTable>

            <p-contextMenu #cm   [model]="items"></p-contextMenu>
        </div>
          <p-sidebar [(visible)]="candidateViewSidebar"  position="right" [style]="{'overflow':'scroll'}" styleClass="ui-sidebar-lg" >
      
       <span *ngIf="viewDetailsLoader" class="loader">
            <img src="../app/asset/image/loading.gif"  style="padding-top:20%;" width="90">
        </span>

      <h5 style="color:#f47920;font-weight: bold"  *ngIf="!viewDetailsLoader">PERSONAL INFORMATION :</h5>
      <table class="tableStyle" *ngIf="!viewDetailsLoader">
         <tbody class="tbodyStyle">

                 <tr class="trStyle">
                      <td class="tdLabelStyle" >NAME</td>
                      <td colspan="3" class ="tdValueStyle" style="border-top-color:#e5ebf0">{{candidate.candidateName}}</td>
                 </tr>

                 <tr class="trStyle">
                      <td class="tdLabelStyle">PHONE</td>
                      <td colspan="3" class ="tdValueStyle"><span *ngFor="let ph of candidate.phones">{{ph.type}} : {{ph.number}} <span style="color:#f47920;font-weight: bold">|</span> </span></td>
                 </tr>

                  <tr class="trStyle">
                      <td class="tdLabelStyle">EMAIL</td>
                      <td colspan="3" class ="tdValueStyle">WORK : {{candidate.socialMedia.email}} <span style="color:#f47920;font-weight: bold">| </span>ALT : {{candidate.socialMedia.alternateEmail}}</td>
                 </tr>

                  <tr class="trStyle">
                      <td class="tdLabelStyle">SKILL</td>
                      <td colspan="3" class ="tdValueStyle"><span *ngFor="let canCourse of candidate.candidateCourses">{{canCourse.course}} <span style="color:#f47920;font-weight: bold">|</span> </span>
                        <span *ngIf="candidate.candidateCourses?.length == 0">N/A  </span>
                      </td>
                 </tr>

                 <tr class="trStyle">
                     <td class="tdLabelStyle">COURSE FEE</td>
                     <td class ="tdValueStyle">
                         {{candidate.courseFee}}
                        <span *ngIf="candidate.courseFee == null">N/A  </span>
                     </td>
                     <td class="tdLabelStyle">ENROLLMENT STATUS</td>
                     <td class ="tdValueStyle">
                         {{candidate.enrollmentStstus}}
                          <span *ngIf="candidate.enrollmentStstus == null">N/A  </span>
                    </td>
                 </tr>

                 <tr class="trStyle">
                      <td class="tdLabelStyle">PAY TYPE</td>
                       <td class ="tdValueStyle">{{candidate.payType}}
                          <span *ngIf="candidate.payType == ''">N/A  </span> 
                       </td>
                      <td class="tdLabelStyle">PAY RATE</td>
                      <td  class ="tdValueStyle">{{candidate.payRate}}
                         <span *ngIf="candidate.payRate == ''">N/A  </span> 
                      </td>
                 </tr>

                 <tr class="trStyle">
                      <td class="tdLabelStyle">GRADUATION DATE</td>
                      <td class ="tdValueStyle">{{candidate.graduationDate | date}}
                          <span *ngIf="candidate.graduationDate == null">N/A  </span>
                      </td>
                       <td class="tdLabelStyle">RECRUITMENT SOURCE</td>
                      <td class ="tdValueStyle">{{candidate.recruitmentSource}}
                          <span *ngIf="candidate.recruitmentSource == ''">N/A  </span>
                      </td>
                 </tr>

                  <tr class="trStyle">
                      <td class="tdLabelStyle">CURRENT LOCATION</td>
                      <td colspan="3" class ="tdValueStyle">{{candidate.currentLocation}}
                         <span *ngIf="candidate.currentLocation == ''">N/A  </span>
                      </td>
                 </tr>

                 <tr class="trStyle">
                      <td class="tdLabelStyle">PREFERRED LOCATION</td>
                      <td colspan="3" class ="tdValueStyle"><span *ngFor="let prefLocation of candidate.preferredLocations">{{prefLocation.location}} <span style="color:#f47920;font-weight: bold">|</span> </span>
                            <span *ngIf="candidate.preferredLocations?.length == 0">N/A  </span>
                      </td>
                 </tr>

                 
             </tbody>    
      </table>

    <div *ngIf="candidate.immigrations?.length > 0">
      <h5 style="color:#f47920;font-weight: bold" *ngIf="!viewDetailsLoader" >VISA INFORMATION :</h5>

      <table class="tableStyle" *ngIf="!viewDetailsLoader" >
          <thead class="tHeadStyle">
            <tr>
               <th class="thStyle">VISA NAME</th>
               <th class="thStyle">START DATE</th>  
               <th class="thStyle">END DATE</th>   
               <th class="thStyle">STATUS</th>
            </tr>     
          </thead>
           <tbody class="tbodyStyle">
                <tr class="trStyle"  *ngFor="let im of candidate.immigrations">
                      <td class ="tdValueStyle" style="border-left-color:#dae8ef">{{im.immigrationType}}</td>
                      <td class ="tdValueStyle">{{im.startDate | date }}</td>
                      <td class ="tdValueStyle">{{im.endDate | date }}</td>
                      <td class ="tdValueStyle">{{im.status}}</td>
                 </tr>
           </tbody>
      </table>    
    </div>


    </p-sidebar>

    <p-sidebar [(visible)]="paymentViewSlideBar"  position="right" [style]="{'overflow':'scroll'}" styleClass="ui-sidebar-lg" >

        <span *ngIf="paymentViewLoader" class="loader">
            <img src="../app/asset/image/loading.gif"  style="padding-top:20%;" width="90">
        </span>
 <div *ngIf="paymentDetails == null" style="text-align:center">
     <h3 style="color:#f47920;font-weight: bold;margin-top:40%">No Payment Available</h3>
</div>

 <div class="ui-g" *ngIf="paymentDetails != null">
<div class="ui-grid-col-12" *ngFor="let paymentDetail of paymentDetails; let index = index" >
         <h5 style="color:#477865;font-weight: bold">PAYMENT {{index + 1}}</h5>
         <h5 style="color:#f47920;font-weight: bold">PAYMENT INFORMATION :</h5>
                        <table class="tableStyle">
                            <tbody class="tbodyStyle">
                                <tr class="trStyle">
                                      <td class="tdLabelStyle">PAYMENT ID</td>
                                      <td  class ="tdValueStyle" style="border-top-color:#e5ebf0">{{paymentDetail.paymentInfo.payemntId}}</td>
                                  </tr>
                            </tbody>
                           
                            <tbody class="tbodyStyle">
                                <tr class="trStyle">
                                       <td class="tdLabelStyle">PAYMENT METHOD</td>
                                       <td  class ="tdValueStyle" style="border-top-color:#e5ebf0">{{paymentDetail.paymentInfo.payer.paymentMethod}}</td>
                                </tr>
                            </tbody>

                            <tbody class="tbodyStyle">
                                <tr class="trStyle">
                                       <td class="tdLabelStyle">PAYMENT STATUS</td>
                                       <td  class ="tdValueStyle" style="border-top-color:#e5ebf0">{{paymentDetail.status}}</td>
                                </tr>
                            </tbody>

                            <tbody class="tbodyStyle">
                                <tr class="trStyle">
                                       <td class="tdLabelStyle">CREATED DATE</td>
                                       <td  class ="tdValueStyle" style="border-top-color:#e5ebf0">{{paymentDetail.createdDate}}</td>
                                </tr>
                            </tbody>

                        </table>

                        <h5 style="color:#f47920;font-weight: bold">ADDRESS :</h5>
                            <table class="tableStyle">
                                <tbody class="tbodyStyle">
                                    <tr class="trStyle">
                                       <td class="tdLabelStyle" style="width:38%">RECIPIENT NAME</td>
                                       <td  class ="tdValueStyle" style="border-top-color:#e5ebf0">{{paymentDetail.paymentInfo.payer.payerInfo.shippingAddress.recipientName}}</td>
                                  </tr>
                                </tbody>

                                <tbody class="tbodyStyle">
                                    <tr class="trStyle">
                                        <td class="tdLabelStyle" >LINE 1</td>
                                        <td  class ="tdValueStyle" style="border-top-color:#e5ebf0">{{paymentDetail.paymentInfo.payer.payerInfo.shippingAddress.line1}}</td>
                                    </tr>
                                </tbody>

                                <tbody class="tbodyStyle">
                                        <tr class="trStyle">
                                            <td class="tdLabelStyle">LINE2</td>
                                            <td  class ="tdValueStyle" style="border-top-color:#e5ebf0">
                                                <span *ngIf="paymentDetail.paymentInfo.payer.payerInfo.shippingAddress.line2 == null">
                                                        N/A
                                                </span>
                                                {{paymentDetail.paymentInfo.payer.payerInfo.shippingAddress.line2}}
                                            </td>
                                        </tr>
                                </tbody>

                                <tbody class="tbodyStyle">
                                    <tr class="trStyle">
                                        <td class="tdLabelStyle" >COUNTRY</td>
                                        <td  class ="tdValueStyle" style="border-top-color:#e5ebf0">{{paymentDetail.paymentInfo.payer.payerInfo.shippingAddress.countryCode}}</td>
                                    </tr>
                               </tbody>

                                <tbody class="tbodyStyle">
                                    <tr class="trStyle">
                                    <td class="tdLabelStyle" >CITY</td>
                                    <td  class ="tdValueStyle" style="border-top-color:#e5ebf0">{{paymentDetail.paymentInfo.payer.payerInfo.shippingAddress.city}}</td>
                                    </tr>
                                </tbody>

                                <tbody class="tbodyStyle">
                                    <tr class="trStyle">
                                    <td class="tdLabelStyle" >POSTAL</td>
                                    <td  class ="tdValueStyle" style="border-top-color:#e5ebf0">{{paymentDetail.paymentInfo.payer.payerInfo.shippingAddress.postalCode}}</td>
                                    </tr>
                                </tbody>

                                <tbody class="tbodyStyle">
                                <tr class="trStyle">
                                    <td class="tdLabelStyle" >STATE</td>
                                    <td  class ="tdValueStyle" style="border-top-color:#e5ebf0">{{paymentDetail.paymentInfo.payer.payerInfo.shippingAddress.state}}</td>
                                </tr>
                                </tbody>

                            </table>

                        <h5 style="color:#f47920;font-weight: bold">AMOUNT :</h5>
                        <table class="tableStyle">

                            <tbody class="tbodyStyle">
                                <tr class="trStyle">
                                      <td class="tdLabelStyle" style="width:38%">CURRENCY</td>
                                      <td  class ="tdValueStyle" style="border-top-color:#e5ebf0">{{this.paymentDetail.paymentInfo.transactions.amount.currency}}</td>
                                
                                </tr>
                            </tbody>

                            <tbody class="tbodyStyle">
                                <tr class="trStyle">
                                      <td class="tdLabelStyle">TOTAL</td>
                                      <td  class ="tdValueStyle" style="border-top-color:#e5ebf0">{{this.paymentDetail.pricePerItem}}</td>
                                
                                </tr>
                            </tbody>

                             <tbody class="tbodyStyle">
                                <tr class="trStyle">
                                      <td class="tdLabelStyle">PAID AMOUNT</td>
                                      <td  class ="tdValueStyle" style="border-top-color:#e5ebf0">{{this.paymentDetail.paymentInfo.transactions.amount.details.subtotal}}</td>
                                
                                </tr>
                            </tbody>

                            <tbody class="tbodyStyle">
                                <tr class="trStyle">
                                      <td class="tdLabelStyle">DUE AMOUNT</td>
                                      <td  class ="tdValueStyle" style="border-top-color:#e5ebf0">{{this.paymentDetail.dueAmount}}</td>
                                
                                </tr>
                            </tbody>

                        </table>
                     
                     <h5 style="color:#f47920;font-weight: bold">ITEM :</h5>
                        <table class="tableStyle">
                           

                             <tbody class="tbodyStyle">
                                <tr class="trStyle">
                                      <td class="tdLabelStyle" style="width:38%">COURSE NAME</td>
                                      <td  class ="tdValueStyle" style="border-top-color:#e5ebf0">{{paymentDetail.paymentInfo.transactions.itemList.item.name}}</td>
                                </tr>
                            </tbody>

                            <tbody class="tbodyStyle">
                                <tr class="trStyle">
                                      <td class="tdLabelStyle">QUANTITY</td>
                                      <td  class ="tdValueStyle" style="border-top-color:#e5ebf0">{{paymentDetail.paymentInfo.transactions.itemList.item.quantity}}</td>
                                </tr>
                            </tbody>

                            <tbody class="tbodyStyle">
                                <tr class="trStyle">
                                      <td class="tdLabelStyle">PRICE</td>
                                      <td  class ="tdValueStyle" style="border-top-color:#e5ebf0">{{this.paymentDetail.pricePerItem}}</td>
                                </tr>
                            </tbody>

                            <tbody class="tbodyStyle">
                                <tr class="trStyle">
                                      <td class="tdLabelStyle">CURRENCY</td>
                                      <td  class ="tdValueStyle" style="border-top-color:#e5ebf0">{{paymentDetail.paymentInfo.transactions.itemList.item.currency}}</td>
                                </tr>
                            </tbody>

                        </table>
                        <hr>
                    </div>

          </div>
        
   </p-sidebar>
    </div>
</div>